<title><%=@title= "Modalités de livraison JUST For Her" %> </title>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">


      <div id="Portrait_banner">
        <img id="regard_deposit" src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888098/Regard_5_fzumce.jpg"/>
      </div>


      <h1 id="new_title"> Comment je donne ? </h1>




        <ul class="deposit_buttons">
          <div class="bouton_depôt">
              <%= link_to donation_select_warehouse_path(@donation)do %>
              <%= image_tag("https://res.cloudinary.com/dve4ns8fw/image/upload/v1670494324/bout_liv_heii2z.png") %>
              <% end %>
          </div>

          <div class="bouton_particulier">
              <%= link_to donation_select_warehouse_path(@donation)do %>
              <%= image_tag("https://res.cloudinary.com/dve4ns8fw/image/upload/v1670494324/bout_part_gq4jro.png") %>
              <% end %>
          </div>

          <div class= "button_back_products">

            <%= link_to image_tag("https://res.cloudinary.com/dve4ns8fw/image/upload/v1670494324/bout_produit_lrfeza.png"), new_donation_path + "?donation_id=#{@donation.id}" %>
          </div>

        </ul>
    </div>
  </div>
</div>
