
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">


      <div id="Portrait_banner">
        <img id="regard_deposit" src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888098/Regard_5_fzumce.jpg"/>
      </div>


      <h1 id="deposit_title"> Comment je donne ? </h1>




        <ul class="deposit_buttons">
          <div class="bouton_depôt">
              <%= link_to donation_select_warehouse_path(@donation)do %>
              <%= image_tag("https://res.cloudinary.com/dve4ns8fw/image/upload/v1670414831/don_liv_115_jcyccr.png") %>
              <% end %>
          </div>

          <div class="bouton_particulier">
              <%= link_to donation_select_warehouse_path(@donation)do %>
              <%= image_tag("https://res.cloudinary.com/dve4ns8fw/image/upload/v1670414831/don_part_115_wt9d57.png") %>
              <% end %>
          </div>

          <div class= "button_back_products">

            <%= link_to new_donation_path do %>
            <%= image_tag("https://res.cloudinary.com/dve4ns8fw/image/upload/v1670414831/don_prod_115_gkhgbw.png") %>
            <% end %>
          </div>

        </ul>
    </div>
  </div>
</div>
