
<div class="container">
  <div class="row_new">

    <div class="col-12 col-lg-6">

      <h1 id="new_title"> Create a donation </h1>

      <p>Merci pour votre initiative <%= current_user.first_name %> ! Ici vous pourrez choisir votre modalité de don ainsi que les articles que vous allez donner</p>
      <div class="cards">
        <%= simple_form_for @donation do |f| %>
          <%  @products.all.each do |product| %>
            <div class= "product_card">
              <label class="category_label" for="<%= product.category %>"><%= product.category %></label>
              <input type="number" id="Quantité de <%= product.category %>" name="products[<%= product.id %>]" value="<%= @donation.donated_products.find_by(product: product)&.quantity %>">
            </div>
          <% end %>
          <div class="product_submit">
            <%= f.submit "Donner" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
