<div class="recap-container">
  <h2>Récapitulatif de votre donation</h2>

  <div class="recap-cards justify-content-center">
    <div class="col-6 col-lg-3">
      <div class="recap-card" style="margin-right: 10px">
        <%# <%= @donation.products.category %>
        <p>Le nombre de produits :</p>
        <%= @donation.amount %>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="recap-card">
        <p>Le lieu de dépôt :</p>
        <%= @donation.warehouse.name %>
      </div>
    </div>
  </div>

  <div class="recap-card-long justify-content-center">
    <div class="col-12 col-lg-6">
      <div style="margin-bottom: 6px">
        <p>Adresse du dépôt :</p>
        <%= @donation.warehouse.address %>
      </div>
      <div style="margin-bottom: 6px">
        <p>Horaires d'ouverture :</p>
        <% if @donation.warehouse.opening_hours %>
          <%= @donation.warehouse.opening_hours %>
        <% end %>
      </div>
      <div>
        <p>Coordonnées :</p>
        <% if @donation.warehouse.number %>
          <%= @donation.warehouse.number %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="justify-content-center">
    <div class="col-12 col-lg-6">
      <%= link_to "Confirmation", root_path, class: "btn-recap" %>
    </div>
  </div>
</div>
