<div class="recap-container">
  <h2>Récapitulatif de votre donation</h2>

  <div class="recap-cards justify-content-center">
    <div class="col-6 col-lg-3">
      <div class="recap-card" style="margin-right: 10px">
        <%# <%= @donation.products.category %>
        <%= @donation.amount %>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="recap-card">
        <%= @donation.warehouse.name %>
      </div>
    </div>
  </div>

  <div class="recap-card-long justify-content-center">
    <div class="col-12 col-lg-6">
      <%= @donation.warehouse.address %>
      <p>Horaires d'ouverture :</p>
      <p>Coordonnées :</p>
      <% if @donation.warehouse.number %>
        <%= @donation.warehouse.number %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center" style="background-color: #900C3F">
    <div class="col-12 col-lg-6">
      <%= link_to "Confirmation", root_path, class: "btn-recap" %>
    </div>
  </div>
</div>
