<title><%=@title= "Suggestion de don financier JUST For Her" %> </title>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="thank">
        <p style="letter-spacing: 2px; margin-top: 10px">Merci <%= current_user.first_name %>!</p>
        <p class="justify-text margin-r-l" style="letter-spacing: 2px">Grâce à vous, depuis le 21 août, nous avons distribué 320 produits. Soit au total 305 femmes aidées.</p>
        <div id="suggest_€">
          <p class="justify-text margin-r-l" style="letter-spacing: 2px">Vous pouvez également contribuer financièrement en soumettant votre don directement sur la plateforme:</p>
        </div>
      </div>
      <div class="bouton_no_financial_gift">
        <%= link_to "Pas de contribution financière", success_path , class: "btn btn-ghost" %>
      </div>
      <div class="typo_€">
        <div class="sections">
          <section>

            <form action="/create-checkout-session" method="POST">
              <div class="suggest_5€">
                <button type="submit" class="asma-btn_suggest" id="checkout-button"><%= link_to "5 €", "https://donate.stripe.com/test_14k8wL7wY8E9gGQ8ww" %></button>
              </div>
            </form>
          </section>

            <section>
              <form action="/create-checkout-session" method="POST">
                <div class="suggest_10€">
                  <button type="submit"class="asma-btn_suggest" id="checkout-button"><%= link_to "10 €", "https://donate.stripe.com/test_28ocN17wYbQl76g9AB" %></button>
                </div>
              </form>
            </section>

            <section>
              <form action="/create-checkout-session" method="POST">
                <div class="suggest_20€">
                  <button type="submit"class="asma-btn_suggest" id="checkout-button"><%= link_to "20 €", "https://donate.stripe.com/test_8wM6oD7wY7A5eyIaEG" %></button>
                </div>
              </form>
            </section>
        </div>
      </div>

    </div>
  </div>
