<!DOCTYPE html>
<html>
  <head>

    <%= favicon_link_tag %>
    <title><%=@title %></title>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Just for Her est une application mobile pour lutter contre la précarité menstruelle.">
    <meta property="og:title" content="JUST For Her - Luttons contre la précarité menstruelle">
    <meta property="og:image" content="https://res.cloudinary.com/dve4ns8fw/image/upload/v1670505828/FB_1200_630_rb53do.jpg">
    <meta property="og:description" content="Just for Her est une application pour aider les femmes qui sont en situation de précarité menstruelle">
    <meta property="og:site_name" content="JUST For Her"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="JUST For Her - Luttons contre la précarité menstruelle">
    <meta name="twitter:description" content="Just for Her est une application pour aider les femmes qui sont en situation de précarité menstruelle">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/dve4ns8fw/image/upload/v1670505828/FB_1200_630_rb53do.jpg">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
